@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:  #f6f6f6;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

button.back-btn {
    position: absolute;
    left: 30px;
    top: 30px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    color: green;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.header {
    padding: 10px 40px;
}

.header h2 {
    margin: 0;
    font-size: 27px;
    font-weight: 600;
    color: #2A7D2E;
}

.form {
    padding: 30px 40px; 
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #2A7D2E;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #2A7D2E;
}

.checkbox-text  a {
    color: #2A7D2E;
    text-decoration: none;
}

.checkbox-text a:hover {
    color: #006400;
}

.form button {
    background-color:  #2A7D2E;
    letter-spacing: 1px;
    border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    display: block;
    font-family: inherit;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.form button:hover {
    background-color: #006400;
    transform: rotate(360deg);
    transform: scale(1.09); 
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}

.form .login-signup a {
    color: #2A7D2E;
    text-decoration: none;
}

.form .login-signup a:hover {
    color: #006400;
}







@media screen and (max-width: 768px) {
    .container {
        width: 300px;
    }

    button.back-btn {
        padding: 9px 26px;
        font-size: 13px;
        left: 15px;
    }

    .header {
        padding: 10px 40px 0;
    }

    .header h2 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
    }

    .form-control {
        margin-bottom: 7px;
        padding-bottom: 15px;
    }

    .form-control label {
        font-size: 11px;
    }

    .form-control input {
        font-size: 12px;
    }

    .form .checkbox-text{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 18px;
    }

    .checkbox-text .checkbox-content{
        display: flex;
        align-items: center;
    }

    .checkbox-content input{
        /*margin: 0 8px -2px 4px;*/
        margin: 0;
        accent-color: #2A7D2E;
    }

    .checkbox-text .checkbox-content .text {
        font-size: 12px;
    }

    .checkbox-text  a {
        color: #2A7D2E;
        text-decoration: none;
        font-size: 11px;
    }

    .form .login-signup{
        margin-top: 30px;
        text-align: center;
    }

    .form button {
        font-size: 11px;
    }

    .form .login-signup .text {
        font-size: 12px;
    }

    .form .login-signup a {
        font-size: 12px;
    }
}


